div {
  font-size: 20px;
  float: left;
  height: 70px;
  width: 40px;
  margin: 10px 10px;
  border: solid 1px #000000;
  text-align: center;
}

#suite, #number {
	margin: 5px;
}

#hole {
	background-image: url(../image/tramp.jpg);
}

.score, h2 {
	clear: left;
}



.menu {
	height: 30px;
	width: 110px;
	float: left;
	margin: 30px 5px;
}

.command {
	height: 30px;
	width: 110px;
 	margin: 30px 5px;
	float: left;
}

.hit {
	height: 30px;
	width: 110px;
	margin-left: 5px;
}

select {
	clear: left;
	margin-top: 35px;
}

aside {
	clear: left;
}